.sectionHi {
  background-image: url("../src/assets/img/section-1-bg.jpg");
  width: 70%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  &__text {
    background-color: #6565ee97;
    width: 50%;
    font-size: 20px;
    padding: 38px 68px;
    margin: 5rem 0 0 25rem;
    color: white;
  }
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 12.5rem;
    background-color: #6565ee97;
    color: white;
    margin: 13rem 0 0 15rem;
  }
}
