.fromMessage {
  display: flex;

  height: fit-content;
  padding: 50px 30px 30px 30px;
  column-gap: 10px;
  &__img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  &__group {
    border-radius: 0 15px 15px 15px;
    background-color: #6665ee;
    height: fit-content;
    padding: 15px;
    max-width: 500px;
  }
}
